# Core ML
torch==2.5.1+cu121
torchvision==0.20.1+cu121
monai==1.5.2

# Medical imaging
SimpleITK==2.5.4
nibabel==5.3.3
pydicom==2.4.4

# Data science
numpy==2.0.2
scipy==1.13.1
pandas==2.3.3
scikit-learn==1.6.1

# Visualisation
matplotlib==3.9.4
seaborn==0.13.2

# Experiment tracking
wandb==0.26.1

# Medical physics
pymedphys==0.40.0

# Utilities
tqdm==4.67.3
pillow==11.3.0
